<table width="99%" border="0" cellpadding="1" cellspacing="0" bgcolor="#EAEAEA">
    <tbody>
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="5" cellspacing="0"
                   bgcolor="#FFFFFF">
                <tbody>
                <tr bgcolor="#EAF2FA">
                    <td colspan="2"><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;"><strong>Name</strong></font>
                    </td>
                </tr>
                <tr bgcolor="#FFFFFF">
                    <td width="20">&nbsp;</td>
                    <td><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;">[contact-name]</font></td>
                </tr>
                <tr bgcolor="#EAF2FA">
                    <td colspan="2"><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;"><strong>Email</strong></font>
                    </td>
                </tr>
                <tr bgcolor="#FFFFFF">
                    <td width="20">&nbsp;</td>
                    <td><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;">[contact-email]</font>
                    </td>
                </tr>
                <tr bgcolor="#EAF2FA">
                    <td colspan="2"><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;"><strong>Phone</strong></font>
                    </td>
                </tr>
                <tr bgcolor="#FFFFFF">
                    <td width="20">&nbsp;</td>
                    <td><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;">[contact-phone]</font>
                    </td>
                </tr>
                <tr bgcolor="#EAF2FA">
                    <td colspan="2"><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;"><strong>Postcode</strong></font>
                    </td>
                </tr>
                <tr bgcolor="#FFFFFF">
                    <td width="20">&nbsp;</td>
                    <td><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;">[contact-postcode]</font>
                    </td>
                </tr>
                <tr bgcolor="#EAF2FA">
                    <td colspan="2"><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;"><strong>Message</strong></font>
                    </td>
                </tr>
                <tr bgcolor="#FFFFFF">
                    <td width="20">&nbsp;</td>
                    <td><font
                            style="font-family: sans-serif, serif, EmojiFont; font-size: 12px;">[contact-message]</font>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>