/*
Theme Name: NBW Theme Child
Description: This is a child theme for NBW Theme
Author: Nothing But Web
Template: theme
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/

@import url("../theme/style.css");

i.icon-search:before,i.icon-google-plus:before,i.icon-shopping-cart:before, i.icon-expand:before, i.icon-tag:before, i.icon-menu:before {
    font-family: 'fl-icons' !important;
}

/****************************************************************************/
/*** C - changes start ***/
/****************************************************************************/

/****************************************************************************/
/*** General CSS start ***/
/****************************************************************************/

@font-face {
    font-family: avenir;
    src: url('fonts/avenir-roman.otf');
}

@font-face {
    font-family: avenir-light;
    src: url('fonts/avenir-ultra-light.otf');
}

html body, p, ul li, a{
    font-family:avenir, sans-serif;
    word-wrap:break-word;
}

.logo-tagline{margin: 0;    font-weight: bold; font-size: 16px; font-style: normal; margin-bottom: 10px;color: #1f1a17;}
ul.header-listing{ list-style: none; padding:0;  margin:0;  }
.header-listing li{padding-left: 1em;text-indent: -1em;font-size: 17px;text-transform: uppercase;font-weight: bold;color: #333333;  }
.header-listing li:before { content: "\2022"; padding-right:7px;  color: #f57800; font-size: 20px;}
.header:not(.transparent) .header-nav.nav > li > a.tel-header{ font-size: 28px; color: #f57800; }
.header:not(.transparent) .header-nav.nav > li > a.tel-header i{    color: #000; font-size: 30px; margin-right: 8px;}
.html_topbar_right span{    color: #1f1a17; font-size: 14px;border-bottom: 1px solid #1f1a17;font-weight: bold;padding-bottom: 2px}
.nav>li.header-search-form{margin-top: 15px;}
.nav>li.header-search-form input[type='search']{min-width: 182px; background: #eeeeee;  border: 0; padding:5px 15px;
    height: 41px;}
.nav>li.header-search-form .submit-button{padding: 4px 10px;background: #f57800;}
.nav>li.header-search-form .icon-search:before {content: "GO";font-weight:bold;font-size:16px;font-family: avenir, sans-serif !important;}
.nav-spacing-xlarge>li a.nav-top-link {padding: 0 50px;}

.button.is-outline{border: 2px solid #F57800;color: #F57800;}
.button.loading{pointer-events: visible !important;}

footer .social-icons .button.icon:not(.is-outline)>i{color: #f57800 !important;}
footer .social-icons .button.icon:not(.is-outline), footer .social-icons .button.icon:hover {background-color: #fff !important;border-color: #fff !important;}
body footer .gform_wrapper .gform_body ul li.gfield{    margin: 0 0 5px 0;padding-right: 5px !important;}
body footer .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {padding: 10px;height: 40px; border-radius: 0px;  margin: 0;border: 1px solid rgba(255, 255, 255, 0.4);background: transparent;color: #fff;}
body footer .gform_wrapper textarea{border: 1px solid rgba(255, 255, 255, 0.4);background: transparent;color: #fff;}
body footer .gform_wrapper .gform_footer .button{background: #f0441c;  width: 100%; letter-spacing: 2px;padding: 8px;}
body footer .gform_wrapper .gform_footer .button i{color: #F57800;margin-right: 8px;font-size: 28px;}
body footer .gform_wrapper textarea::-webkit-input-placeholder, body footer .gform_wrapper input::-webkit-input-placeholder {color: #fff;}
body footer .gform_wrapper textarea::-moz-placeholder, body footer .gform_wrapper input::-moz-placeholder {color: #fff;}
body footer .gform_wrapper textarea:-ms-input-placeholder, body footer .gform_wrapper input:-ms-input-placeholder {color: #fff;}
body footer .gform_wrapper textarea:-moz-placeholder, body footer .gform_wrapper input:-moz-placeholder {color: #fff;}

.par-more-line{font-size: 15px;line-height: 30px;color: #000000;}
a.button.primary.is-larger {font-size: 18px;font-weight: normal;padding: 5px 50px;}
.category-box{text-align: center;}
.category-box .button{display: inline-block;padding-right: 0;margin: 0;border: 0;font-weight: normal;font-size: 15.5px;}
.category-box .button i{padding: 12px;background: #333333;margin: 0;top: 0;}
.product-category .header-title{font-size: 22px;}

#masthead .header-nav li.html_topbar_right:first-child {flex: 0 1 100%;}
#masthead .header-nav li.html_topbar_right{text-align: right;}
.nav>li.header-divider{margin: 0 10.5px;}
#masthead .header-nav .cart-item {    margin-right: 20px;}
.header-nav-main.nav-right i, .icon-shopping-cart{color: #f57800;font-size: 27px;}
.header-nav-main.nav-right i.icon-search{color: #fff;}

.alm-reveal{width: 100%;
    -js-display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.white-text{
    color: white;
}

.white-text a {
    color: white;
}

.no-pad{
    padding:0;
}

.no-pad-bot{
    padding-bottom:0;
}

.no-pad-top{
    padding-top:0;
}

.no-pad-side{
    padding-left:0;
    padding-right:0;
}

.no-mar{
    margin:0;
}

.no-mar-bot{
    margin-bottom:0;
}

.no-mar-top{
    margin-top:0;
}

.no-mar-side{
    margin-left:0;
    margin-right:0
}

.no-pad-p p{
    margin-bottom: 0;
}

.pad-20{
    padding:20px;
}

.pad-20-10{
    padding: 20px 10px;
}

.pad-top-50{
    padding-top: 50px;
}

.pad-bot-50{
    padding-bottom: 50px;
}

.pad-side-15{
    padding-right:15px;
    padding-left:15px;
}

.mar-side-15{
    margin-right:15px;
    margin-left:15px;
}

.mar-right-10{
    margin-right:10px;
}

.mar-right-20{
    margin-right:20px;
}

.mar-bot-70{
    margin-bottom:70px;
}

.mar-bot-40{
    margin-bottom: 40px;
}

.mar-bot-30{
    margin-bottom: 30px;
}

.mar-bot-20{
    margin-bottom: 20px;
}

.mar-bot-10{
    margin-bottom: 10px;
}

.italic{
    font-style: italic;
}

.google-map.mb{
    margin-bottom: 0;
}

.black{
    color:black;
}

.smaller-font p {
    font-size: 90%;
    line-height: 1.5;
    margin-bottom: 0;
}

.smaller-font{
    font-size: 95%;
}

.smaller{
    font-size:90%;
}

.much-smaller{
    font-size:80%;
}

.width-auto .col-inner {
    width: auto;
}

.border-radius-5{
    border-radius:5px;
}

ul{
    padding-left:20px;
}

ul.menu,
ul.wc_payment_methods{
    padding-left: 0;
}

.widget ul {
    margin: 0;
    padding-left: 0;
}

.hide{
    display: none;
}

.light-purple{
    color:#c0c7e6;
}

.light-blue{
    color:#798daa;
}

.light-grey{
    color:#bfbfbf;
}

.banner-header {
    font-family: avenir-light, sans-serif;
    font-size: 57px;
    text-transform: uppercase;
    line-height: 1.4;
}

.big-header, h1 {
    font-size: 42px;
    font-family: avenir-light, sans-serif !important;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 8px;
    line-height: 1.4;
    word-wrap: break-word;
    color: #1c2430;
}

.medium-header, h2 {
    font-size: 25px;
    text-transform: uppercase;
    line-height: 1.5;
}

.small-header, h3 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.order-text{color: #666666;font-size: 20px;}

.letter-space-3{
    letter-spacing:3px;
}
.thank-you img{width: auto;}
a.grey-button,
.grey-button a{
    display: inline-block;
    text-transform: uppercase;
    font-size: 17px;
    background: #c4c3a6;
    color: #141726;
    padding: 15px 30px;
}

.slider-nav-light .flickity-page-dots .dot{
    border-color: #d1d1d1;
    background: #d1d1d1;
}

.slider-nav-light .flickity-page-dots .dot.is-selected{
    border-color:#F57800;
    background: #F57800;
}

/****************************************************************************/
/*** General CSS end ***/
/****************************************************************************/

/****************************************************************************/
/*** General Gravity Form and CF7 start ***/
/****************************************************************************/

body .gform_wrapper{
    margin:0;
}

body .gform_wrapper.gf_browser_chrome .gform_body{
    width:100%;
}

body .gform_wrapper .top_label .gfield_label{
    display: none;
}

body .gform_wrapper .gform_body ul li.gfield{
    padding:0;
    margin: 0 0 10px 0;
}

body .gform_wrapper .gform_body .top_label div.ginput_container{
    margin:0;
}

body .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
    padding:10px;
    height: 48px;
    border-radius: 5px;
    margin: 0;
}

body .gform_wrapper .gform_footer{
    padding: 0;
    margin:0;
}

body .gform_wrapper .gform_footer input.button{
    margin:0;
}

body .gform_wrapper .half-width-input .gform_body ul li.gfield{
    width: calc(50% - 10px);
    float: left;
    clear: none;
    padding: 0 5px;
}

body .gform_wrapper .half-width-input .gform_footer {
    text-align: center;
}

body input:hover, body textarea:hover, body select:hover{
    box-shadow:none;
}

input[type='email'], input[type='date'], input[type='search'], input[type='number'],
input[type='text'], input[type='tel'], input[type='url'], input[type='password'],
textarea, select, .select2-container .select2-choice,body input[type='email']:focus,
body input[type='search']:focus,
body input[type='number']:focus,
body input[type='tel']:focus,
body input[type='text']:focus,
body input[type='password']:focus,
body textarea:focus, select:focus{
    box-shadow:none;
}

/****************************************************************************/
/*** General Gravity Form and CF7 end ***/
/****************************************************************************/

/****************************************************************************/
/*** Header style start ***/
/****************************************************************************/

.header-custom-block {
    margin-bottom: 20px;
    margin-top: -20px;
}

.header-custom-block .border-bot {
    border-bottom: 1px solid #dadada;
}

.header-custom-block .border-search {
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
}

.header-custom-block .border-right {
    border-right: 1px solid #dadada;
}

.header-login {
    font-size: 15px;
    line-height: 37px;
}

.header-custom-block .searchform .search-field {
    border: none;
    font-size: 15px;
}

.header-custom-block .ux-search-submit {
    background: transparent !important;
    border: none;
}

.header-custom-block .ux-search-submit.icon i {
    color: #1c2430;
    font-size: 1em;
}

.cart-custom ul {
    list-style: none;
}

.cart-custom ul li {
    margin-bottom: 0;
    line-height: 37px;
    letter-spacing: 2px;
}

.header-main ul li.menu-item a {
    /*color: #1c2430;*/
    font-size: 17px;
    padding: 0px 15px;
}

.header-main ul li.menu-item:last-child a{
    padding:0 0 0 23px;
}

/****************************************************************************/
/*** Header style end ***/
/****************************************************************************/

/****************************************************************************/
/*** Footer style start ***/
/****************************************************************************/

.absolute-footer {
    padding: 25px;
}

footer p{font-size: 17px;}

.footer-menu ul {
    text-align: center;
}

.footer-menu ul li {
    display: inline-block;
    border-top: none !important;
    margin-bottom: 20px;
}

.footer-menu ul li a {
    text-transform: uppercase;
    padding: 0 40px;
    font-size: 22px;
}

.copyright-footer{font-size: 14px;text-transform: uppercase;}

.subscribe-input-form input {
    width: 80%;
    font-size: 14px;
    padding: 10px 15px;
    height: 45px;
    margin-bottom: 10px;
}

.subscribe-input-submit input[type=submit] {
    width: 80%;
    background: #c4c3a6 !important;
    margin: 0;
    color: #1C2430;
    font-weight: normal;
    font-size: 15px;
    padding: 3px;
}

.subscribe-input-form .wpcf7-not-valid-tip {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

/****************************************************************************/
/*** Footer style end ***/
/****************************************************************************/

/****************************************************************************/
/*** Home style start ***/
/****************************************************************************/

.custom-masonry .box-text {
    padding-bottom: 0;
    padding-top: 0;
}

/****************************************************************************/
/*** Home style end ***/
/****************************************************************************/

/****************************************************************************/
/*** Contact Us Start ***/
/****************************************************************************/

.cf-custom-input input {
    height: 55px;
    padding: 5px 20px;
}

.cf-custom-input textarea {
    padding: 10px 20px;
}
.contact-us-submit{margin-left: -20px;}
.contact-us-submit input[type='submit']:not(.is-form) {
    font-weight: normal;
    padding: 5px 60px;
}

.contact-us-submit i{position: relative;color: #fff;z-index: 1;left: 50px;top: -4px;font-size: 20px;}

/****************************************************************************/
/*** Contact Us end ***/
/****************************************************************************/

/****************************************************************************/
/*** Blog style start ***/
/****************************************************************************/

.ajax-load-class {
    text-align: center;
}

.blog-square {
    display: inline-block;
    width: calc(25% - 40px);
    margin: 0 20px 10px;
}

section.breadcrumb-section {
    padding: 25px 0;
    background: #1c2430;
    text-transform: uppercase;
    word-spacing: 3px;
    font-size: 16px;
}

.breadcrumb-section a{
    color:#8b9ab0
}

section.inner-blog-section {
    padding: 80px 0;
}

.content-column {
    padding-left: 40px;
}

.content-column .social-icons a{
    color: #1c2430;
}

.blog-square-title {
    min-height: 54px;
}

.alm-btn-wrap {
    margin-top: 20px;
    padding-top: 40px;
}

.ajax-load-more-wrap.grey .alm-load-more-btn.done, .ajax-load-more-wrap.grey .alm-load-more-btn:hover {
    background-color: #F57800;
}
.ajax-load-more-wrap.grey .alm-load-more-btn {
    background-color: #F57800;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
}

select.advanced-filter-menu, .select2-container .select2-choice, .select2-container .select2-selection{
    background-image: url('/wp-content/uploads/2017/11/arrow.png');
    background-size: auto 22%;
    border: 0;
    border-bottom: 2px solid #ddd;
}

.custom-search-bar .searchform {
    border: 1px solid #cccccc;
}

.custom-search-bar input[type=search] {
    height: 50px;
    padding-left: 20px;
    border: none;
}

.custom-search-bar .button.secondary:not(.is-outline) {
    background-color: transparent;
    border: none;
}

.custom-search-bar button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.custom-search-bar .button.secondary:not(.is-outline) i{
    color:black;
}

.cat-dropdown-custom {
    padding-left: 20px;
}

.cat-dropdown-custom select{
    height: 50px;
    border: 1px solid #cccccc;
    padding-left: 20px;
}

/****************************************************************************/
/*** Blog style end ***/
/****************************************************************************/

/****************************************************************************/
/*** Woocommerce product start ***/
/****************************************************************************/

.product-title a:not(.button) {
    margin-bottom: 10px;
}

.price {
    margin-bottom: 10px;
}

.woocommerce.widget_product_categories h3 {
    float: left;
    max-width: 140px;
    font-size: 20px;
    color: #5c5c5c;
    font-weight: bold;
    line-height: 55px;
}
.term-desc p {
    margin: 20px 0 0;
    line-height: 32px;
    font-size: 16px;
}
.category-page-row {
    padding-top: 0;
}

.category-page-row input[type='search']{height: 3.6em;    border-right: 0;}

.category-page-row .button.secondary:not(.is-outline){background: #fff;
    border-left: 0;    min-width: 3.6em;border-color: #ddd;min-height: 3.6em;}
.category-page-row i.icon-search:before{color: #5c5c5c;}

.shop-container .term-description{display: none;}

.widget_product_categories{margin-bottom: 0;}


select.dropdown_product_cat{
    min-height: 55px;
    text-transform: uppercase;
    width: 80%;
    margin:0;
}

.woocommerce.widget_product_categories .is-divider{
    display: none;
}

.woocommerce.widget_product_categories .product-categories li a {
    background: #e1e1e1;
    text-align: center;
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid #cccccc;
}

.custom-header-woo-product {
    margin-bottom: 30px;
}

.custom-header-woo-product .woocommerce-result-count{
    display: none;
}

.custom-header-woo-product .woocommerce-ordering {
    margin: 0;
    width: 100%;
    border: 1px solid #cccccc;
}

.custom-header-woo-product .woocommerce-ordering select{
    margin: 0;
    height: 50px;
    padding: 0 0 0 20px;
    border: none;
}

.custom-header-woo-product .searchform-wrapper{
    border:1px solid #cccccc;
}

.custom-header-woo-product .searchform .search-field {
    border: none;
    font-size: 15px;
    height: 50px;
    padding: 0 0 0 20px;
}

.custom-header-woo-product .ux-search-submit {
    background: transparent !important;
    border: none;
}

.custom-header-woo-product .ux-search-submit.icon i {
    color: #1c2430;
    font-size: 1em;
}

.custom-title-product .product-title {
    display: inline-block;
}
.box-text-products{padding-top: 2.7em;}
.row-box-shadow-5-hover .col-inner:hover .custom-box-image{
    border-bottom: 2px solid #eee;
}
.row-box-shadow-5-hover .box-image img{border : 2px solid #eee;}
.row-box-shadow-5-hover .col-inner:hover .box-image img{border: 0;}
.row-box-shadow-5-hover .col-inner:hover a.button.primary.is-larger{background-color: #333333;}
span.price-label {
    color: #f57800;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}
.custom-price-wrapper .price {
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
}

.custom-box-product-after .box-excerpt {
    font-size: 13px;
    line-height: 1.8;
}

.custom-see-product .grey-button {
    font-size: 14px;
    padding: 12px 30px;
}

.custom-single-product-image {
    padding-right: 80px;
}

.custom-single-product-image .product-images {
    border: 1px solid #cccccc;
}

.custom-product-no-sidebar .product-info {
    padding-top: 0;
}

.custom-overwrite-product-info .woocommerce-breadcrumb {
    display: none;
}

.custom-overwrite-product-info h1{
    display: inline-block;
}

.custom-overwrite-product-info .is-divider {
    height: 1px;
    max-width: 100px;
    display: inline-block;
}

.custom-overwrite-product-info .price-wrapper {
    margin-bottom: 25px;
}

.custom-overwrite-product-info.product-summary .woocommerce-Price-currencySymbol{
    font-size: inherit;
    margin: 0 2px 0 0;
}

.custom-overwrite-product-info .product-short-description{
    margin-bottom: 25px;
}

.custom-overwrite-product-info .product-short-description p{
    display: inline-block;
}

.custom-overwrite-product-info .cart {
    padding-bottom: 30px;
    background: url(/wp-content/uploads/2017/07/product-divider.jpg) no-repeat bottom left;
    margin-bottom: 35px;
}

.custom-overwrite-product-info .cart button {
    background: #c4c3a6;
    color: black;
    font-size: 13px;
    padding: 0 20px;
    height: 39px;
}

input.wpi-button.single_add_to_cart_button, input.wpi-button.single_add_to_cart_button:hover, input.wpi-button:hover, input.wpi-button:active, input.wpi-button:focus{
    background: #F57800 !important;
    padding: 18px 40px !important;
    font-size: 18px !important;
    font-weight: bold;
    color: #fefefe;
    text-transform: uppercase;
    border-radius: 0;
    max-width: 250px !important;
    border: 0 !important;
    margin: 0;
}
.product-info #enquiry {
    padding-bottom: 8px;
}

.is-divider.full {
    max-width: 100%;
}

.single-product .product-info span.amount{color: #333;/*font-size: 43px;*/}
.single-product .product-info .price {font-size: 43px;}

.single-product-breadcrumb-section {
    padding: 50px 0 0;
}

.single-product-breadcrumb-section .breadcrumbs a,
.single-product-breadcrumb-section .breadcrumbs .divider{
    color: #999999;
    top:0;
}

.single-product-breadcrumb-section .breadcrumbs a:hover{
    color : #F57800;
}

.custom-related-section {
    border-top: none;
}

.custom-header-related{
    padding: 20px 0 40px 0;
}

.single-product .box-image img{
    border: 1px solid #CCCCCC;
}

.custom-header-related .is-divider{
    height: 1px;
    margin: 20px 0 50px 0;
}

.product-footer .woocommerce-tabs{
    border-top:none;
}

.woocommerce-tabs .nav li {
    margin: 0;
}

.woocommerce-tabs .nav li a {
    color: black;
    padding: 17px 25px 15px;
    font-family: avenir, sans-serif;
    letter-spacing: 1px;
}

.woocommerce-tabs .nav li.active a:before,
.woocommerce-tabs .nav li:hover a:before{
    background: #c4c3a6;
    height:4px;
}

.woocommerce-tabs .nav li.active a {
    background: #e9e9e9;
}

.woocommerce-tabs .tab-panels {
    padding: 40px 40px 30px 40px;
    background: #e9e9e9;
    margin-bottom: 30px;
}

.woocommerce-tabs .shop_attributes td, .shop_attributes th {
    color: black;
    border: none;
    font-weight: normal;
}

.custom-single-product-image .product-thumbnails.row-small:not(.row-collapse) {
    margin-bottom: 30px;
}

/****************************************************************************/
/*** Woocommerce product style end ***/
/****************************************************************************/

/****************************************************************************/
/*** Woocommerce cart and checkout style start ***/
/****************************************************************************/

.shop_table thead th, .shop_table .order-total td, .shop_table .order-total th {
    border-width: 1px;
    padding-bottom: 15px;
}

.cart_totals .product-name {
    border-width: 1px !important;
    padding-bottom: 15px;
}

.cart_totals .shop_table td,
.cart_totals .shop_table th {
    border: none;
}

.wc-proceed-to-checkout a.button.alt:not(.is-outline) {
    background: #1c2430;
    padding: 8px 5px;
    font-weight: normal;
    margin-bottom: 15px;
    display: inline-block;
}

.cart-sidebar .widget-title {
    border-bottom: 1px solid #ececec;
    padding-bottom: 15px;
}

.custom-checkout-breadcrumb a.current,
.custom-checkout-breadcrumb a:hover {
    color: white;
}

.woocommerce-billing-fields {
    border-top: 1px solid #ddd;
}

.coupon input{
    height:50px;
}

.coupon input[type=submit] {
    background: #c4c3a6;
    text-shadow: none;
    color: black;
    box-sizing: initial;
    border: none;
    text-transform: uppercase;
    padding: 8px 5px;
    height: auto;
}

/****************************************************************************/
/*** Woocommerce cart and checkout style end ***/
/****************************************************************************/

/****************************************************************************/
/*** Woocommerce account style start ***/
/****************************************************************************/

.my-account-header {
    background: #1c2430;
    padding: 6px 0;
}

.my-account-header h1 {
    color: white;
    font-size: 17px;
}

.account-user .image {
    display: none;
}

.return-to-shop a {
    font-weight: normal;
    padding: 5px 35px;
}

/****************************************************************************/
/*** Woocommerce account style end ***/
/****************************************************************************/

/****************************************************************************/
/*** Stockist style start ***/
/****************************************************************************/

.block-name,
.block-distance {
    width: 19%;
}

.block-address{
    width:40%;
}

.block-phone{
    width:22%;
}

.content-stockist {
    display: inline-block;
    text-align: center;
}

.header-stockist {
    float: left;
    color: white;
    background: #1c2430;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 17px 0;
    text-align: center;
}

.content-margin{
    margin:1px;
    padding: 20px 5px;
    background: #e9e9e9;
}

.table-header {
    width: calc(100% - 1px);
    margin: 0 1px;
}

.stock-map{
    height:500px;
    margin-bottom:40px;
}

.stock-form[type=text], .stock-form {
    width: calc(50% - 5px);
    display: inline-block;
    height: 50px;
    padding: 0 15px;
}

.stock-form-address{
    margin-right:5px;
}

.stock-form-radius{
    margin-left: 5px;
}

/****************************************************************************/
/*** Stockist style end ***/
/****************************************************************************/


/*************** ADD MOBILE ONLY CSS HERE  ***************/
@media screen and (max-width: 1023px) {
    .banner-header{
        font-size:42px;
    }
    .mobile-mar-bot-20{
        margin-bottom: 20px;
    }
    .mobile-no-pad .col-inner {
        padding: 0 !important;
    }
    .content-column {
        padding-left: 0px;
    }
    .navigation-blog .alignleft {
        float: left;
    }
    .navigation-blog .alignright {
        float: right;
    }
    .custom-single-product-image {
        padding-right: 0px;
    }
    .blog-square {
        width: calc(50% - 40px);
    }
    .header-stockist {
        width:50%;
    }
    .table-stock-content {
        margin-bottom: 10px;
    }
    .content-stockist {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {

    .header-main li.html.custom{
        display: block;
    }

}

@media screen and (max-width: 768px) and (min-width: 480px){

    .header-main li.html.custom{
        display: block;
    }

    ul.mobile-nav{
        display: block;
    }

}

@media screen and (max-width: 767px) {





    .related-products-wrapper .row.row-small.small-columns-2 .col{max-width: 100%;flex-basis: 100%;}

    .pb-30-mob{padding-bottom: 30px !important}
    select.dropdown_product_cat{width: 100%;}
    .footer-menu ul li{
        display: block;
        text-align:center;
    }
    .banner-header{
        font-size:34px;
    }
    .big-header{
        font-size:30px;
    }
    .navigation-blog .alignright,
    .navigation-blog .alignleft{
        float: none;
        display: block;
    }
    .navigation-blog .grey-button a{
        display: block;
        margin-bottom: 5px;
        text-align: center;
    }
    .cat-dropdown-custom {
        padding-left: 0px;
    }
    .custom-search-bar .col-inner{
        padding: 0 !important;
    }
    .blog-square {
        width: calc(100% - 40px);
    }
    .stock-form[type=text], .stock-form {
        width: 100%;
    }
    .stock-form-address, .stock-form-radius {
        margin: 0 0 10px 0;
    }
    .header-stockist {
        width:100%;
    }
    .content-stockist {
        width: 100%;
    }
}

.woocommerce-variation-add-to-cart{
    display: none !important;
}

.custom-box-product-after{
    display: none !important;
}

.header:not(.transparent) .header-bottom-nav.nav > li.current-menu-ancestor  > a,
.header:not(.transparent) .header-bottom-nav.nav > li.active > a, body .header-bottom-nav.nav-box > li > a:hover{
    background: transparent !important;
    color: #333 !important;
}

.ajax-load-more-wrap.grey .alm-load-more-btn {
    background-color: #F57800 !important;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0;
    padding: 0 40px;
    height: 50px;
    line-height: 50px;
}
.alm-btn-wrap{
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}
.alm-btn-wrap .alm-load-more-btn{
    background-color: #F57800 !important;
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0;
    padding: 0 40px;
    height: 50px;
    color: #fff;
    display: inline-block;
    border: none;
    line-height: 50px;
    transition: padding .25s ease-in-out,width .25s ease-in-out;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;
}

.alm-btn-wrap .alm-load-more-btn.done{
    opacity: .2;
}


@media screen and (max-width: 550px) {

    .product-category .header-title {font-size: 20px;}
    .woocommerce-tabs .tab-panels table, .woocommerce-tabs .tab-panels table tbody{
        /*display: block;*/
        /*width: 100%;*/
    }

    .product-short-description {
        /*position: relative;*/
    }


    .product-short-description table td{
        border: 1px solid grey;
        text-align: center;
    }
    /*.product-short-description table {*/
        /*!*position: relative;*!*/
        /*overflow: auto;*/
        /*overflow-x: auto;*/
        /*border: 1px solid #54595d;*/
        /*overflow-y: hidden;*/
        /*width: 100% !important;*/
        /*display: block;*/
    /*}*/

    .woocommerce-tabs .tab-panels {
        padding: 1rem 0;
    }

    .woocommerce-tabs .tab-panels  table th{
        padding-left: 0;
        padding-right: 0;
    }

    .woocommerce-tabs .tab-panels table{
        border-collapse: collapse;
        border-style: hidden;
    }
    .woocommerce-tabs .tab-panels{
        background: transparent;
    }

    .woocommerce-tabs .tab-panels th, .woocommerce-tabs .tab-panels td {
        border: 1px solid #BBBBBB;
        border-collapse: collapse;
        text-align: center;
    }
    /*.woocommerce-tabs .tab-panels table tbody tr:first-child,  .woocommerce-tabs .tab-panels table tbody tr:first-child{*/
        /*display: none;*/
    /*}*/
    /*.woocommerce-tabs .tab-panels table tr{*/
        /*clear: both;*/
        /*position: relative;*/
        /*display: block;*/
        /*width: 100%;*/
        /*-webkit-box-sizing: border-box;*/
        /*-moz-box-sizing: border-box;*/
        /*box-sizing: border-box;*/
        /*border: 1px solid #000;*/
    /*}*/
    /*.woocommerce-tabs .tab-panels table tr td p{*/
        /*float:right;*/
        /*width: 50%;*/
    /*}*/
    /*.woocommerce-tabs .tab-panels table tr td{*/
        /*display: inline-block;*/
        /*width: 100%;*/
        /*!*padding-left: 50%;*!*/
        /*text-align: center;*/
        /*!*position: relative;*!*/
        /*float: right;*/
        /*border-top: 1px solid #fff;*/
    /*}*/
    /*.woocommerce-tabs .tab-panels table tr td::before{*/
        /*content: 'Code';*/
        /*text-transform: uppercase;*/
        /*display: inline-block;*/
        /*position: relative;*/
        /*float: left;*/
        /*!*margin-right: 50%;*!*/
        /*left: 0;*/
        /*width: 50%;*/
        /*text-align: center;*/
        /*!*height: 100%;*!*/
    /*}*/

    /*.woocommerce-tabs .tab-panels table tr td:nth-child(2)::before{*/
        /*content: 'Size(cm) L x W x H';*/
    /*}*/

    /*.woocommerce-tabs .tab-panels table tr td:nth-child(3)::before{*/
        /*content: 'Description';*/
    /*}*/
    /*.woocommerce-tabs .tab-panels table tr td:nth-child(4)::before{*/
        /*content: 'Approx Weight (KG)';*/
    /*}*/
    /*.woocommerce-tabs .tab-panels table tr td:nth-child(5)::before{*/
        /*content: 'Wholesale Prices';*/
    /*}*/

    /*.woocommerce-tabs .tab-panels table tr{*/
        /*display: block;*/
    /*}*/

}

del span.amount{
    color: #111;
}
span.amount{
    color: #F57800;
}

#product_cat option:nth-child(n+10){
    display: none;
}
.cus-popup-container{
    padding: 2rem 1rem .5rem;
}
.cus-popup-container .subscribe-input-submit input[type=submit],
.cus-popup-container .subscribe-input-form input{
    width: 100%;
}





@media screen and (max-width: 480px){


    .header-bottom{
        background-color: transparent !important;
    }
    .tel-header .icon-phone{
        color: #000;
    }
    .tel-header{
        display: block !important;
        color: #f57800 !important;
        line-height: normal !important;
        margin-top: 2rem !important;
        margin-bottom: 0rem !important;
        font-size: 1.6rem !important;
        text-align: center;
    }
}


@media screen and (max-width: 768px) and (min-width: 480px){


    .header-bottom{
        background-color: transparent !important;
    }

    .header-main li.html.custom{
        display: block;
    }

    ul.mobile-nav li.header-search-form{
        display: inline-block;
        width: 50%;
    }
    ul.mobile-nav{
        display: block;
        text-align: center;
    }

    .tel-header{
        display: block !important;
        color: #f57800 !important;
        line-height: normal !important;
        margin-top: 1rem !important;
        margin-bottom: -1rem !important;
        font-size: 1.6rem !important;
        text-align: center;
    }

}












.nbw-link {
    display: none;
    
}
.home .nbw-link { 
    display: block;
    
}
.cf-custom-input .wpcf7-form-control-wrap.contact-postcode::after {
	border: 1px solid;
	content: "a";
	position: absolute;
	right: 3px;
	height: 51px;
	top: 3px;
	width: 49px;
	background-color: #ffffff;
	color: #ffffff;
}

.single-product #enquiry-form .wdm-pef-form-row:nth-child(4)::after {
	content: "jh";
	position: absolute;
	right: 1px;
	padding: 1px 6px;
	font-size: 14px;
	top: 3px;
	background-color: #ffffff;
	color: transparent;
}
.single-product #enquiry-form .wdm-pef-form-row:nth-child(4) {
	float: left;
	width: 100%;
	position: relative;
}
.single-product #enquiry-form .wdm-pef-form-row:nth-child(4) label {
	margin: 4px 0 0 -5px;
	padding: 0;
	width: 77px;
}
#cont-name
{color: red;
    font-size: 13px;
    line-height: 1.3;
}























@media (min-width:320px) and (max-width:767px) 
{


.custom.html_topbar_right .tel-header .icon-phone {
	color: #000000;
	font-size: 27px;
	margin: 0 10px 0 0;
}
.custom-product-single-footer .tab-panels {
	overflow-x: scroll;
	background-color: #e9e9e9;
	padding: 5px 21px;
}

.custom-product-single-footer .tab-panels th {
	font-size: 14px;
	text-align: center;
}
.custom-product-single-footer .tab-panels td {
	padding: 0 15px;
	text-align: center;
}
.custom-product-single-footer .tab-panels #tab-description {
	width: 1046px;
}



}

@media (min-width:320px) and (max-width:567px) 
{




}

@media (min-width:568px) and (max-width:767px) 
{
	
.custom-product-single-footer .tab-panels {
	padding: 37px 21px 10px 21px;
}	
	

}







@media (min-width:768px) and (max-width:1024px) 
{


}

@media (min-width:768px) and (max-width:991px) 
{




.rght-con #gform_wrapper_1 #field_1_2 {
	margin-top: 0;
}
.gallery-sec .col.small-12.large-4.test img {
	width: 100%;
}
.custom-product-single-footer #tab-description th {
	font-size: 12px;
}
.custom-product-single-footer #tab-description td {
	font-size: 13px;
}
.custom-product-single-footer .tab-panels {
	padding: 38px 28px;
}



.home-sectn .product-category.col 
{
	max-width: 50%;
-webkit-flex-basis: 50%;
-ms-flex-preferred-size: 50%;
flex-basis: 50%;
min-width: 50%;
width: 50%;
}
.single-product .woocommerce-product-gallery__wrapper.product-gallery-slider {
	width: 333px;
	margin: 0 auto;
	height: 333px;
	overflow: hidden;
}


}

@media (min-width:992px) and (max-width:1024px) 
{


}













































/* wenthworth */